// .form-item {
//     display: flex;
//     flex-direction:row;
//     margin-bottom: 1rem; 
// }


// .form-label {
//     margin-bottom: 0.25rem;
// }

// input,
// select {
//     margin-bottom: 0.25rem;
// }

// .text-danger {
//     font-size: 0.875rem;
//     color: red;
//     margin-top: 0.25rem;
// }

.form-title{
   margin-top: 20px;
}
.form-label{
    margin-left:7px;
}
.Removebtn{
    margin-left: 5px;
}